#            ██   ██                               ████ ██
#     █████ ░░   ░██                              ░██░ ░░   █████
#    ██░░░██ ██ ██████  █████   ██████  ███████  ██████ ██ ██░░░██
#   ░██  ░██░██░░░██░  ██░░░██ ██░░░░██░░██░░░██░░░██░ ░██░██  ░██
#   ░░██████░██  ░██  ░██  ░░ ░██   ░██ ░██  ░██  ░██  ░██░░██████
#    ░░░░░██░██  ░██  ░██   ██░██   ░██ ░██  ░██  ░██  ░██ ░░░░░██
#     █████ ░██  ░░██ ░░█████ ░░██████  ███  ░██  ░██  ░██  █████
#    ░░░░░  ░░    ░░   ░░░░░   ░░░░░░  ░░░   ░░   ░░   ░░  ░░░░░

[user]
	name = Brad Parbs
	email = brad@bradparbs.com
	github = bradp
    signingKey = 2C161DEC802F4922

[alias]
    a = add
    aa = !git add -u && git add . && git status

    s = status
    st = status -sb

    c = commit
    ci = commit

    cl = clone

    co = checkout
    cob = checkout -b

    br = branch

    cp = cherry-pick

    diff = diff --word-diff

    unstage = reset HEAD --

    undo = reset --soft HEAD^

    ls = log --pretty=log --decorate
    ll = log --pretty=log --decorate --numstat
    lg = log --pretty=graph --color --graph --abbrev-commit
    dl = ll -1

    ignore = !git-ignore $@
    tig = !tig $@

[advice]
    statusAheadBehind = fals
    statusHints = false
    detachedHead = false
    waitingForEditor = false
    addEmptyPathspec = false

[branch]
	autosetupmerge = true

[core]
	editor = vim
	excludesfile = /Users/brad/dotfiles/.global_ignore
    preloadindex = true
    abbrev = 12
    pager = diff-so-fancy | less --tabs=4 -RFX

[color "branch"]
    current = red reverse
    local = blue
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[commit]
	gpgSign = true
	template = /Users/brad/.stCommitMsg

[credential]
	helper = osxkeychain

[diff]
	tool = Kaleidoscope

[difftool]
	prompt = false

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[gitcvs]
    commitMsgAnnotation = ""

[help]
	autocorrect = 1
    format = html

[init]
	defaultBranch = main

[merge]
	tool = Kaleidoscope

[mergetool]
	prompt = false

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[pretty]
	log = "%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]"
    graph = "%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset"

[pull]
	rebase = true

[push]
	default = current

[status]
    showUntrackedFiles = all

[tag]
    forceSignAnnotated = true
	gpgSign = true
