fund=false
audit=false
init-author-email=brad@bradparbs.com
init-author-name=Brad Parbs
init-author-url=https://bradparbs.com/
init-license=MIT
init-version=1.0.0
sign-git-commit=true
sign-git-tag=true
